@font-face {
    font-family: 'Coca Zhaend';
    src: url('Coke4U.woff2') format('woff2'),
        url('Coke4U.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pepsi Zhaend';
    src: url('Pepsi.woff2') format('woff2'),
        url('Pepsi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
